BRBKApp/BRBKWebApi/Connected Services/ServicioAduana/n4Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://argo.navis.com/webservice/external" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://argo.navis.com/webservice/external" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://argo.navis.com/webservice/external">
      <s:element name="basicInvoke">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scopeCoordinateIds" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="basicInvokeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="basicInvokeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="basicInvokeSoapIn">
    <wsdl:part name="parameters" element="tns:basicInvoke" />
  </wsdl:message>
  <wsdl:message name="basicInvokeSoapOut">
    <wsdl:part name="parameters" element="tns:basicInvokeResponse" />
  </wsdl:message>
  <wsdl:portType name="n4ServiceSoap">
    <wsdl:operation name="basicInvoke">
      <wsdl:input message="tns:basicInvokeSoapIn" />
      <wsdl:output message="tns:basicInvokeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="n4ServiceSoap" type="tns:n4ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="basicInvoke">
      <soap:operation soapAction="http://argo.navis.com/webservice/external/basicInvoke" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="n4ServiceSoap12" type="tns:n4ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="basicInvoke">
      <soap12:operation soapAction="http://argo.navis.com/webservice/external/basicInvoke" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="n4Service">
    <wsdl:port name="n4ServiceSoap" binding="tns:n4ServiceSoap">
      <soap:address location="http://cgdes19:5152/ecuaws/n4Service.asmx" />
    </wsdl:port>
    <wsdl:port name="n4ServiceSoap12" binding="tns:n4ServiceSoap12">
      <soap12:address location="http://cgdes19:5152/ecuaws/n4Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>